<!DOCTYPE html>
<html lang="es-ES">
<meta charset="utf-8"> 
{{!-- el contenido se muestra en español --}}
<meta http-equiv="Content-Language" content="es"/>
<head>
	<meta charset="UTF-8">
	<title>ejemplo</title>
</head>
<body>
	{{!-- <a href="#" onclick="enviarCorreo('Pedido Urgente')">Pedido URGENTE!!</a>	 --}}
   
</body>
</html>

{{!-- <script src="JS/emails/email.js"></script> --}}