<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Document</title>
</head>
<style>

    /* si se quiere poner la pantalla de almacen
    @media screen and (max-width: 600px) {
       table {
           width:100%;
           
       }
       thead {
           display: none;
       }
       tr:nth-of-type(2n) {
           background-color: inherit;
       }
       tr td:first-child {
           background: #f0f1f0;
           font-weight:bold;
           font-size:1.3em;
       }
       tbody td {
           display: block;
           {{!-- text-align:center; --}}
       }
       tbody td:before {
          
           display: block;
           text-align:center;
       }
}
*/
</style>
<body>
    <div id="container" >
    {{!-- <table class="table"  > --}}
        {{!-- <table border="1" widht="100%"> --}}
            <div class="table-responsive">
  <table class="table">
        <thead class="thead-dark" >
            <tr>
                <th scope="col" class="bg-warning"> Orden De Compra </th>
                <th scope="col" class="bg-success">Numero de Pedido</th>
                <th scope="col" class="bg-primary" >Comprobante de Pago </th>
                <th scope="col" >Ruta</th>
                <th scope="col" >Importe</th>
                <th scope="col" >Estado</th>
                <th scope="col" >Observaciones</th>
                <th scope="col" >Fecha</th>
           
            </tr>
        </thead>
        <tbody id="pedidos">

        </tbody>
    </table>
    </div>
    
    <script src="librerias/jquery.js"></script>
    <script src="librerias/bootstrap.js"></script>
    <script src="/socket.io/socket.io.js" ></script>    
    <script src="JS/almacen/pedidos.js" ></script>

</body>
</html>

