<style>
      html{font-size:14px;} p.segunda{font-size:1rem;} @media screen and (orientation:portrait){ p.primera{font-size:1rem;} } @media screen and (orientation:landscape){ p.primera{font-size:1rem;} }

    .line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 50%;
    margin: auto;       
    border: 1px solid transparent;
  font-family: sans-serif;
  line-height: 1.4;  
}
.line-clamp:hover {
  -webkit-line-clamp: 100;
  cursor: pointer;
}
</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Document</title>
</head>
<style>

    /* si se quiere poner la pantalla de almacen
    @media screen and (max-width: 600px) {
       table {
           width:100%;
           
       }
       thead {
           display: none;
       }
       tr:nth-of-type(2n) {
           background-color: inherit;
       }
       tr td:first-child {
           background: #f0f1f0;
           font-weight:bold;
           font-size:1.3em;
       }
       tbody td {
           display: block;
           {{!-- text-align:center; --}}
       }
       tbody td:before {
          
           display: block;
           text-align:center;
       }
}
*/
</style>
<body>
    <div id="container" >
    {{!-- <table class="table"  > --}}
        {{!-- <table border="1" widht="100%"> --}}
            <div class="table-responsive">
  <table class="table">
        <thead class="thead-dark" >
            <tr>
                <th scope="col" class="bg-warning"> Orden De Compra </th>
                <th scope="col" class="bg-success">Numero de Pedido</th>
                <th scope="col" class="bg-primary" >Comprobante de Pago </th>
                <th scope="col" >Ruta</th>
                <th scope="col" >Importe</th>
                <th scope="col" >Estado</th>
                <th scope="col">Prioridad</th>
                <th  >Observaciones</th>
                <th scope="col" >Fecha</th>
           
            </tr>
        </thead>

        <tbody id="pedidos"></tbody>

    </table>
             <div class="modal fade bd-example-modal-lg" id="change_status" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">

                    <div id="status"  ></div>

            </div>
        </div>
    </div>
    </div>
    
    <script src="librerias/jquery.js"></script>
    <script src="librerias/bootstrap.js"></script>
    <script src="/socket.io/socket.io.js" ></script>    
    <script src="JS/ventanasEmergentes/ventanasModales.js"></script>
    <script src="https://kit.fontawesome.com/385704f43e.js" crossorigin="anonymous"></script>
    <script src="JS/almacen/pedidos.js" ></script>

</body>
</html>

