<html>
	<head>
	    <title>Fondo de prueba</title>
	</head>
{{!-- jajajaj --}}
<body>
  <div class="text-center">
  <br></br>  <br></br>  <br></br>  
  <img src="https://covamsa.com/inicio/wp-content/uploads/2019/06/logo_covamsa_clasico.png" class="rounded" >
</div>	

</body>

	
	</html>


 



 