

<html>
  
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <style>
    
  </style>
<body>
  
  {{!-- <div class="text-center"> --}}
  {{!-- <div class="row text-center login-page"> --}}
  <br></br><br></br><br></br>  
  <img src="https://covamsa.com/inicio/wp-content/uploads/2019/06/logo_covamsa_clasico.png"  class="rounded mx-auto d-block" width="" height="">
  <script src="librerias/bootstrap.js"></script>
{{!-- </div>	 --}}
  {{!-- </div> --}}
</body>
</html>


 



 