<style>
  html {
    font-size: 14px;
  }


  p.segunda {
    font-size: 1rem;
  }

  @media screen and (orientation:portrait) {
    p.primera {
      font-size: 1rem;
    }
  }

  @media screen and (orientation:landscape) {
    p.primera {
      font-size: 1rem;
    }
  }
@media (max-width: 500px) {
  .estilo1 {
    border:4px;font-size:15px;
    }  
  }
  .my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
  }

  .line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 100%;
    margin: auto;
    border: 1px solid transparent;
    font-family: sans-serif;
    line-height: 1.4;
  }

  .line-clamp:hover {
    -webkit-line-clamp: 100;
    cursor: pointer;
  }

  input[type=checkbox] {
    transform: scale(1.5);
  }

  #body {
    display: none;
  }
.table-responsive{
        height:600px;  
        overflow:scroll;
}
thead tr:nth-child(1) th{
    position: sticky;
    top: 0;
    z-index: 10;
}

textarea {
    box-sizing: border-box;
    height: 200px;
    margin: 5px 0 15px 0;
    padding: 5px 2px;
    width: 100%;
}

  .borderojo {
    outline: none;
    border: 1px solid #f00;
  }

  .bordegris {
    border: 1px solid #d4d4d;
  }

  input:placeholder-shown {
    border-color: silver;
  }

  input:placeholder-shown {
    border-color: silver;
  }

 
</style>
<html  lang="en">
<meta charset="utf-8"> 
{{!-- el contenido se muestra en español --}}
<title> Covamsa  | Ventas </title>
<meta http-equiv="Content-Language" content="es"/>
<div class="container-fluid">
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <button class="btn btn-secondary btn-lg" type="button" data-toggle="collapse" data-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne">
          Agregar Pedidos
        </button>
        <button class="btn btn-secondary btn-lg" type="button" data-toggle="collapse" data-target="#collapseTwo"
          aria-expanded="false" aria-controls="collapseTwo">
          Mis Pedidos
        </button>
        <button type="button" class="close"><a href="/menu"><img
              src="https://image.flaticon.com/icons/svg/1936/1936477.svg" height="30" alt=""></a> </button><br>
        <br>
      </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <div  id="ocultar_excel">
            <input type="file" name="excel" id="excel">
            <button onclick="uploadExcel()" > Importar </button>
      
          </div>     
          <form enctype="multipart/form-data" method="post" id="imgct" class="columinput">
            
            <div class="jumbotron">
              <div class="container">
                  
                   <div  id="detallesPedido" ></div>
                <div class="row ">
                  <label for="oc" class="col-sm-2 col-form-label">Orden de Compra:</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control valid border border-secondary" name="orden" maxlength="30"
                      minlength="2" id="orden" pattern="[A-Za-z0-9]+" minlength="5" 
                      title="Solo se permite letras(mayúsculas y/o minúsculas) y números.Maximo 30 caracteres">
                    <input type="file" class="form-control-file "  minlength="5"  name="orden_compra" id="orden_pdf" style="color: black;">
                  </div>
                  <label for="" class="col-sm-2 col-form-label">
                    Cliente:</label>

                  <div class="col-sm-4">
                    
                    {{#each cliente }}
                    <input type="text" class="form-control border border-secondary" value="{{nombre}}" name="cliente">
                    {{/each}}
                    
                    <div id="spinner">
                      <div class="d-flex justify-content-center">
                        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                          <span class="sr-only">Cargando...</span>
                        </div>
                      </div>
                    </div>
                    {{!-- <div id="inputCliente"></div> --}}
                       <div class="col-sm-14">
                          <input type="text"  class="form-control valid border border-secondary" id="nombre_cliente"  name="nombre_cliente" require readonly >
                      </div>
                    {{!-- <button type="button" class="btn btn-dark btn-lg btn-block " id="tusClientes" data-toggle="modal"
                      data-target="#staticBackdrop" href="/ventas/busquedaCliente" role="button" aria-expanded="false"
                      aria-controls="collapseExample" onclick="clickClientes()">
                      Clientes
                    </button> --}}
                  </div>
                </div>
                <br>
                <div class=" row ">
                  <label for="" class="col-sm-2 col-form-label">No. de Pedido:</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control valid border border-secondary" readonly name="numeroPedido" required
                      maxlength="30" minlength="2" id="infoPedido"
                      title="Solo se permite letras(mayúsculas y/o minúsculas) y números.Máximo 30 caracteres">
                    {{!-- <input type="file" class="form-control-file " required name="num_pedido" id="no_pedido"
                      style="color: black;"> --}}

                  <label for="" >Fecha del Pedido: </label>
                  <input type="date" name="fecha_pedido"  id="fecha_pedido" class="form-control valid border border-secondary" readonly >
                  
                  <label for="">Número de partidas</label>
                  <input type="number"  readonly class="form-control valid border border-secondary"  name="numero_partidas" id="numero_partidas">

                  </div>
                  <label for="" class="col-sm-2 col-form-label ">Ruta:</label>
                  {{!-- <div class="row"> --}}
                  <div class="col-sm-4">
                    <select class="form-control border border-secondary " name="ruta">
                      <option value="1">Norte</option>
                      <option value="2">Sur</option>
                    </select>
                  </div>
                  {{!-- </div> --}}
                  
                </div>
                <br>
                <div class="row ">
                  <label for="" class="col-sm-2 col-form-label">Selecciona el Tipo de Pago:</label>
                  
                  <div class="col-sm-4">
                   
                    <input type="text" class="form-control valid border border-secondary" minlength="2" id="input"
                      maxlength="30" minlength="2" id="comprobante_pago" name="comprobante_pago" pattern="[A-Za-z0-9]+"
                      title="Solo se permite letras(mayúsculas y/o minúsculas) y números. Máximo 30 caracteres"
                      placeholder="Ingresa el Comprobante de Pago">
                    <input type="file" class="form-control-file " name="comprobante_pago" id="comprobante"
                      style="color: black;">
                      
                      
                    <label for=""></label>
                    <select class="form-control" name="tipos_pago" id="pagos_transferencia">
                      <option value="2">Anticipado</option>
                      <option value="1">Transferencia </option>
                      <option value="3"> Contra Entrega</option>
                      <option value="4">Crédito</option>
                    </select>
                    
                    <br>
                  {{!-- VENTANA MODAL CARGAR PEDIDO --}}
                  <div id="spinnerOrder" ></div>


                  </div>
                  <label for="" class="col-sm-2 col-form-label">Importe:</label>
                  <div class="col-sm-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text border border-secondary">$</span>
                    <input type="text" class="form-control border border-secondary"  readonly id="importe" name="importe" required
                      {{!-- maxLength="12" minlength="1" onkeypress="return filterFloat(event,this);" --}}
                      {{!-- maxLength="12" minlength="1"  --}}

                      title="Solo se permite un punto decimal y/o el monto con 9 digitos y 2 decimales">
                    <br>
                  </div>
                  {{!-- <br> --}}

                </div>
                </div>
                <br>
                Tipo de Prioridad:
                <div>
                <select class="custom-select" id="prioridad" name="prioridad" >
                  <option value="0">Normal</option>
                  <option value="1">Urgente</option> 
                </select>
                </div>
                <div>
                Nota: Si la prioridad del Pedido fue "Urgente" mandar un correo a su Administrador para su confirmacion:
                <a href="#" onclick="enviarCorreo('Hay un Pedido Urgente')">Enviar Mensaje</a>
                </div>
                <div class="correo"></div>
                <br>
                
              
                <div>
                 {{!-- <input type="text" name="tipo_entrega" readonly  class="form-control" id="tipo_entrega"> --}}
                Tipo de Entrega <br> <br>
                <label for="">Entrega parcial</label>   <input type="radio" value="0" name="entrega" id="parcial"> 
                <label for="">Entrega completa </label>  <input type="radio" value="1" name="entrega" id="completo"> 
                {{!-- <select class="custom-select" id="entrega"  onchange="tipoEntrega();"  name="entrega" >
                  <option value="0">Entrega Parcial</option>
                  <option value="1">Entrega Completa</option> 
                </select> --}}
                </div>
                <div>
               
                <br> 
                Observaciones:
                <textarea class="form-control border border-secondary" name="observaciones"
                  {{!-- title="En caso de ques sea necesario poner observaciones" --}}
                  placeholder="Escribe aquí tus observaciones (como máximo 250 caracteres)"
                   maxlength="250" 
                ></textarea>
                
                <div class="form-group row justify-content-right">
                  <label for="" class="col-sm-2 col-form-label"></label><label for="" class="col-sm-2 col-form-label"></label>
                  <div class="col-sm-4">
                    <div class="row">
                        <div class="col">
                          <button   type="button"class="btn btn-primary btn-lg btn-block"  onclick="orderDetail()" >Detalle</button>
                        </div>
                        <div class="col">
                          <div id="button_send"></div>
                        </div>
                        <div class="col" >
                          <button  type="button" class="btn btn-danger btn-lg btn-block" onclick="cancelarOrden()" >Cancelar</button>
                        </div>
                    </div>
                  </div>
                  <br>
                </div>
                {{!-- cargar el pedido  --}}

              <!-- Modal -->
              <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">Clientes:</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-bodyss">
                      <center>Búsqueda Cliente: <input type="text" id="inputBusqueda" class="col-sm-8"></center>

                      <div class="table-wrapper-scroll-y my-custom-scrollbar">

                        <table class="table table-bordered-responsive-sm justify-content-center">
                          <thead class="thead-light">
                            <tr>
                              <th scope="col">Nombre</th>
                              <th scope="col">Id</th>
                              <th scope="col">Buscar</th>
                            </tr>
                          </thead>
                          <tbody id="clientes">
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
              {{!-- ventanas modales  --}}
            
              
            <div class="modal fade bd-example-modal-lg" id="Ventana_Modal" tabindex="-1" role="dialog"
              aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div id="elements_of_modal"></div>
                </div>
              </div>
            </div>
              
              <div class="form-group row justify-content-center">
                <label for="" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4">
                  <div id="button_send"></div>

                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
        </h5>
      </div>

      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">

          <div class="modal fade bd-example-modal-lg" id="Ventana_Modal_order" tabindex="-1" role="dialog"
            aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div id="cancel_order"></div>
              </div>
            </div>
          </div>

           <div class="modal fade bd-example-modal-lg" id="transferencia" tabindex="-1" role="dialog"
            aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div id="send_trasferencia" ></div>

              </div>
            </div>
          </div>
          <div id="detalle_mis_pedidos" ></div>
          <div id="log" ></div>
          <div class="table-responsive">
          <table id="orders" class="table table-striped table-bordered " >
            
            <thead class="thead-dark">
           
              <tr >
              
                <th  style="background-color: #229954;">Número De Pedido</th>
                <th  style="background-color: #A79F21;">Orden De Compra</th>
                <th  style="background-color: #1A5276;">Comprabante De Pago</th>
                <th> Numero de factura </th>
                <th >Tipo De Pago</th>
                <th >Ruta</th>
                <th style="white-space:pre;">Importe</th>
                <th >Estatus</th>
                <th >Prioridad</th>
                <th >Entrega Parcial</th>
                <th >Observaciones</th>
                <th ><pre><code>CÓDIGO CONVERTIDO A TEXT</code></pre>Fecha</th>
                <th>Info</th>
                <th>Partidas</th>
                <th >Cancelar</th>
              </tr>
            </thead>

          </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</html>
<script src="librerias/jquery.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="librerias/popper.js"></script>
<script src="librerias/bootstrap.js"></script>
<script src="JS/ventas/pagosTransferencia.js"></script>
<script src="JS/ventanasEmergentes/ventanasModales.js"></script> 
<script src="JS/ventas/uploadExcel.js"></script>
<script src="JS/ventas/validaciones.js"></script>
<script src="dataTables/datatables.min.js"></script>
{{!-- <script src="JS/ventas/observacionesC.js"></script> --}}
{{!-- <script src="JS/ventas/importe2D.js"></script> --}}
<script src="JS/emails/email.js"></script>



<script>
  // let intentos = 0;
 
 //document
  // .getElementById('validar')
  // .addEventListener('click', function(evt) {
  //   const campo = document.getElementById('campo'),
  //     valido = document.getElementById('campoOK')
 //
 //
  //   if (intentos >= 3) {
  //     return;
  //   }
 //
  //   if (/^\d+$/g.test(campo.value)) {
  //     valido.innerText = "válido";
  //     intentos = 0;
 //
  //   } else {
  //     intentos++;
  //     valido.innerText = "incorrecto, intentos: " + intentos;
 //
  //     if (intentos >= 3) {
  //       valido.innerText = "Nunca mas vas a poder intentar";
  //     }
  //   }
  // });
</script>