<style>
  .my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
  }

  input[type=checkbox] {
    transform: scale(1.5);
  }

  #body {
    display: none;
  }

  textarea {
  box-sizing: border-box;
  height: 200px;
  margin: 5px 0 15px 0;
  padding: 5px 2px;
  width: 100%;  
}
.borderojo {
    outline: none;
    border: 1px solid #f00;
}
.bordegris { border: 1px solid #d4d4d; }

input:placeholder-shown {
  border-color: silver;
}

input:placeholder-shown {
  border-color: silver;
}

html{font-size:14px;} p.segunda{font-size:1rem;} @media screen and (orientation:portrait){ p.primera{font-size:1rem;} } @media screen and (orientation:landscape){ p.primera{font-size:1rem;} }

tr,table{
  border:#C5CBCF ;
}


</style>

<div class= "container">
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        {{!-- <h5 class="mb-0"> --}}
        <button class="btn btn-primary btn-lg" type="button" data-toggle="collapse" data-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne">
          Agregar nuevo Pedido
        </button>
        <button class="btn btn-primary btn-lg" type="button" data-toggle="collapse" data-target="#collapseTwo"
          aria-expanded="false" aria-controls="collapseTwo">
          Mis Pedidos
        </button>
        <button type="button" class="close"><a href="/menu"><img
              src="https://image.flaticon.com/icons/svg/1936/1936477.svg" height="30" alt=""></a> </button><br>
        <br>

      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">

          <form enctype="multipart/form-data" method="post" id="imgct" class="columinput">
          
            <div class="jumbotron">
              <div class="container">
                <div class="form-group row  justify-content-center ">
                  <label for="oc" class="col-sm-2 col-form-label"><p class="primera">Orden de Compra:</p></label>
                  <div class="col-sm-5">

                    <input type="text" class="form-control valid border border-secondary" required name="orden"
                      maxlength="30" minlength="2"
                      id="orden" pattern="[A-Za-z0-9]+" title="Solo se permite letras(mayúsculas y/o minúsculas) y números.Maximo 30 caracteres">
                    <input type="file" class="form-control-file " required name="gimg" id="gimg" style="color: black;">
                  </div>
                </div>

                <div class="form-group row justify-content-center">
                  <label for="" class="col-sm-2 col-form-label"><p class="primera">No. de Pedido:</p></label>
                  <div class="col-sm-5">
                    <input type="text" class="form-control valid border border-secondary" name="numeroPedido" required
                       maxlength="30" minlength="2"
                      {{!-- pattern="[A-Za-z0-9]+"  --}}
                      title="Solo se permite letras(mayúsculas y/o minúsculas) y números.Maximo 30 caracteres">
                    <input type="file" class="form-control-file " required name="gimg" id="no_pedido"
                      style="color: black;">
                  </div>
                </div>
                <div class="form-group row justify-content-center">
                  <label for="" class="col-sm-2 col-form-label"><p class="primera">Comprobante-Pago:</p></label>
                  <div class="col-sm-5">
                    <input type="text" class="form-control valid border border-secondary" minlength="2"  id="input" required
                     maxlength="30" minlength="2"
                     disabled
                      id="comprobante_pago" name="comprobante_pago" pattern="[A-Za-z0-9]+" title="Solo se permite letras(mayúsculas y/o minúsculas) y números. Maximo 30 caracteres">
                    <input type="file" class="form-control-file " required name="gimg" id="comprobante"
                      style="color: black;">

                    <br> Tipo de Pago:
                     <select class="form-control" name='id_categoria' id='id_categoria' onchange="carg(this);">
                      <option value="1" selected>--Opciones--</option>
                      <option value="2" >Transferencia</option>
                      <option value="3" >Normal</option>
                    </select>
                    
                    <br> Tipo de Prioridad: 
                    <select class="custom-select" id="prioridad" name="prioridad">
                      <option value="0">Normal</option>
                      <option value="1">Urgente</option>
                    </select>
                    <div class="correo"></div>
                    {{!-- Ventana Modal --}}
                      <div class="modal fade bd-example-modal-lg" id="Ventana_Modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                         <div class="modal-content">

                            <div id="elements_of_modal"  ></div>

                         </div>
                      </div>
                    </div>
                    


                  </div>
                </div>
                <br>
                <center>

                  <div id="inputCliente"></div>
                </center>
                <div class="form-group row justify-content-center">
                  <label for="" class="col-sm-2 col-form-label"><p class="primera">Cliente:</p></label>
                  <div class="col-sm-5">
                    {{#each cliente }}
                    <input type="text" class="form-control border border-secondary" value="{{nombre}}" name="cliente">
                    {{/each}}
                    <div id="spinner">
                      <div class="d-flex justify-content-center">
                        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                          <span class="sr-only">Cargando...</span>
                        </div>
                      </div>
                    </div>
                    <br>
                    <button type="button" class="btn btn-dark btn-lg btn-block " id="tusClientes" data-toggle="modal"
                      data-target="#staticBackdrop" href="/ventas/busquedaCliente" role="button" aria-expanded="false"
                      aria-controls="collapseExample" onclick="clickClientes()"  >
                       Clientes
                    </button>
                  </div>
                </div>
              </div>

              <!-- Modal -->
              <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">Clientes:</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-bodyss">
                      <center>Busqueda Cliente: <input type="text" id="inputBusqueda" class="col-sm-8"></center>

                      <div class="table-wrapper-scroll-y my-custom-scrollbar">
                      
                        <table class="table table-bordered-responsive-sm justify-content-center">
                          <thead class="thead-light">
                         <tr>
                              <th scope="col">NOMBRE</th>
                              <th scope="col">ID</th>
                              <th scope="col">BUSCAR</th>
                            </tr>
                          </thead>
                          <tbody id="clientes">
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <div class="container">
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="form-group row justify-content-center">
                  <label for="" class="col-sm-2 col-form-label "><p class="primera">&nbsp;Ruta:</p></label>
                  <div class="col-sm-5">
                    <select class="custom-select" name="ruta">
                      <option value="1">Norte</option>
                      <option value="2">Sur</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="form-group row justify-content-center">
                <label for="" class="col-sm-2 col-form-label"><p class="primera">Importe:</p></label>
                <div class="col-sm-5">
                  <div class="input-group-prepend">
                    <span class="input-group-text border border-secondary">$</span>
                    <input type="text"  class="form-control border border-secondary" name="importe" required
                      {{!-- pattern="^[0-9]{1,9}(\.[0-9]{0,2})?$" --}}
                      {{!-- size="57"  --}}
                      maxLength="12" minlength="1"
                      onkeypress="return filterFloat(event,this);"
                      title="Solo se permite un punto decimal y/o el monto con 9 digitos y 2 decimales">
                  </div>
                    
                </div>
              </div>
           

              {{!-- <div class="form-group row justify-content-center">
                <label for="" class="col-sm-2 col-form-label">&squf;Tipo de Pago:</label>
                <div class="col-sm-5">
                  <div class="input-group-prepend">
                    <label for="exampleFormControlSelect1">Crédito</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option>Pago Anticipado</option>
                      <option>Pago Contra Entrega</option>

                    </select>

                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                      Contado
                    </label>
                  </div>
                </div>
              </div> --}}
              
              
           

              <br>
              <div class="form-group row justify-content-center">
                <label for="" class="col-sm-2 col-form-label">Observacion:</label>
                <div class="col-sm-5">
                  <textarea class="form-control border border-secondary" name="observaciones" required
                    title="En caso de ques sea necesario poner observaciones" placeholder="Escribe aqui tus observaciones (como maximo 250 caracteres)"maxlength="250" rows="2"></textarea>
                </div>
              </div>
              <br>
              <div class="form-group row justify-content-center">
                <label for="" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4">
                    <div id="button_send"></div>

                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
        </h5>
      </div>

      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
             <div class="modal fade bd-example-modal-lg" id="Ventana_Modal_order" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                         <div class="modal-content">

                            <div id="cancel_order"  ></div>

                         </div>
                      </div>
                    </div>
          <table id="orders" border="1"  width="100%">
          {{!-- <table id="orders" class="table table-sm" width="100%"></table> --}}
            <thead>
              <tr>
                <th scope="col">Orden De Compra</th>
                <th scope="col">Numero De Pedido</th>
                <th scope="col">Comprabante De Pago</th>
                <th scope="col">Ruta</th>
                <th scope="col">Importe</th>
                <th scope="col">Estatus</th>
                <th scope="col">Observaciones</th>
                <th scope="col">Fecha</th>
                <th scope="col">Cancelar</th>
                {{!-- <th>Prioridad</th> --}}
              </tr>
            </thead>

          </table>

        </div>
      </div>
    </div>
  </div>
</div>
<script src="librerias/jquery.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="librerias/popper.js"></script>
<script src="librerias/bootstrap.js"></script>
<script src="JS/ventanasEmergentes/ventanasModales.js"></script> 
<script src="JS/ventas/validaciones.js"></script>
<script src="dataTables/datatables.min.js"></script>
{{!-- <script src="JS/ventas/observacionesC.js"></script> --}}
<script src="JS/ventas/importe2D.js"></script>

<script>
  var input = document.getElementById('input');

function carg(elemento) {
  d = elemento.value;
  
  if(d == "2" || d == "3"){
    input.disabled = false;
  }else{
    input.disabled = false;
  }
}
</script>