<style>
   input[type=checkbox] { transform: scale(1.5); } 
   .jumbotron{
     position: relative;
     padding: 1;
     margin-top: 5px;
     
   }
   .my-custom-scrollbar {
    position: relative;
    height:200px;
    overflow: auto;
}

#body{
  display: none;
}
</style>
<div class="container">
<div class="jumbotron">
<button type="button" class="close"><a href="/menu"><img src="https://image.flaticon.com/icons/svg/1936/1936477.svg" height="30" alt=""></a> </button><br>
<link rel="stylesheet" href="css/styles.css">
{{!-- comiennza el formulario --}}
<form  enctype="multipart/form-data" method="post" id="imgct" class="columinput">
   <div class="container">
      <div class="form-group row  justify-content-center ">
        
        <label for="oc" class="orden_compra">&squf;Orden de Compra:</label>
        <div class="col-sm-5">
          <input type="text" class="form-control valid border border-secondary" name="orden" id="validationTooltip01" pattern="[A-Za-z0-9]+" title="Campo Obligatorio">
          <input type="file" id="gimg" name="gimg" class="form-control-file"/>
        </div>
      </div>
      <div class="form-group row justify-content-center">
        <label for="" class="numero_pedido">&squf;No. de Pedido:</label>
        <div class="col-sm-5">
          <input type="text"  class="form-control valid border border-secondary" name="numeroPedido" pattern="[A-Za-z0-9]+" title="Campo Obligatorio" >
          <input type="file" class="form-control-file " name="gimg" id="gimg" style="color: black;" >
        </div>
      </div>
       <div class="form-group row justify-content-center">
        <label for="" class="comprobante_pago">&squf;Comprobante de Pago:</label>
        <div class="col-sm-5">
          <input type="text"  class="form-control valid border border-secondary"  id="comprobante_pago" name="comprobante_pago" pattern="[A-Za-z0-9]+" title="Campo Obligatorio" >
          <input type="file" class="form-control-file " name="gimg" id="gimg" style="color: black;" >
        </div>
      </div>
      <br><center>
 <div id="inputCliente"></div> 
      </center>  
      <div class="form-group row justify-content-center"> 
        <label for="" class="col-sm-2 col-form-label">&squf;Cliente:</label>
        <div class="col-sm-5">
          {{#each cliente }}
          <input type="text"  class="form-control border border-secondary" value="{{nombre}}" name="cliente" >
          {{/each}}
        <button type="button" class="btn btn-dark btn-lg btn-block "  id="clientes" data-toggle="modal" data-target="#staticBackdrop"  href="/ventas/busquedaCliente" role="button" aria-expanded="false" aria-controls="collapseExample">
        Tus Clientes
        </button>
        </div>
      </div>
   </div> 
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Options</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-bodyss">
        <center>Busqueda Cliente: <input type="text"  id="inputBusqueda" class="col-sm-8"></center>
       <div id="clientesPorBusqueda"></div>
          <div id="clientes"><br> 
           <div id="ocultar" > 
          <div class="table-wrapper-scroll-y my-custom-scrollbar"> 
          <table class="table table-bordered-responsive-sm justify-content-center">
           <thead class="thead-light">
           <tr>
             <th scope="col">NOMBRE</th>
             <th scope="col">ID</th>
             <th scope="col">BUSCAR</th>
           </tr>
         </thead >
           {{#each clientes}}
           <tr>
               <td>{{nombre}}</td>
               <td>{{numero_interno}}</td>
               <td> <center> <button type="button"  onclick="cliente('{{nombre}}')" class="btn btn-success" data-dismiss="modal">Seleccionar</button></center></td>
           </tr>
           {{/each}}
          </table>
         </table>
         </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
      <div class="form-group row justify-content-center">
        <label for=""  class="col-sm-2 col-form-label ">&squf;Ruta:</label>
        <div class="col-sm-5">
        <select class="form-control border border-secondary "  name="ruta" >
          <option value="1">Norte</option>
          <option value="2">Sur</option>
        </select>
        </div>
      </div> 
      <div class="form-group row justify-content-center">
        <label for="" class="col-sm-2 col-form-label">&squf;Importe:</label>
       
        <div class="col-sm-5">
          <div class="input-group-prepend">
          <span class="input-group-text border border-secondary" >$</span>
          <input type="text"  class="form-control border border-secondary" name="importe" required pattern="^[0-9]{1,9}(\.[0-9]{0,2})?$" >
          </div>
        </div>
      </div>
<div class="form-group row justify-content-center">
      <label for="" class="observaciones">&squf;Observaciones:</label>
      <div class="col-sm-5">
        <textarea class="form-control border border-secondary"  name="observaciones" title="En caso de ques sea necesario poner observaciones" rows="2"></textarea>
      </div>
  </div>
      <br>
      <div class="form-group row justify-content-center">
        <label for="" class="col-sm-2 col-form-label" ></label>
        <div class="col-sm-4">
         <input type="submit" class="btn btn-success btn-lg btn-block" value="Guardar" id="nvig" /> 
        </div>
      </div>
</div> 
</div> 

 </form>

 <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js" ></script> 
<script src="JS/validaciones.js" ></script>

