<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
<link rel="stylesheet" href="estilo.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.29.0/sweetalert2.all.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.29.0/sweetalert2.css" rel="stylesheet"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"/>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<style>
    input[type=text] {
    width: 40ch;
    
    }
    input:invalid {
    border: 2px solid red;
    }
    
</style>

<!------ inicio de login echo con bootstrap y css ---------->
<br></br><br><br></br><br></br>
<body background="https://covamsa.com/inicio/wp-content/uploads/2019/07/slider_fondo_02_covamsa.jpg">
<div class="container-lg">
    <div class="card card-login mx-auto text-center bg-light" style="width: 50rem;">
        <div class="card-header mx-auto bg-light">
            <span> 
                <img class="" src="https://covamsa.com/inicio/wp-content/uploads/2019/06/covamsa_tiendas.png" width="120px">
            </span>
        </div>
    
        <div class="card-body">
            <form action="" method="post"S>
            
            {{!-- correo electronico --}}
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input type="text" name="email" class="form-control" onkeyup="validar()" placeholder="Username"  pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}"  title="El correo electrónico que ingreses debe coincidir con una cuenta"> 
                    {{!-- <input type="text" name="email" class="form-control"  placeholder="Username" title="Utiliza una cuenta asosiada con el Usuario">  --}}

                </div>

            {{!-- contraseña --}}
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input type="password" onkeyup="validar()" name="password" class="form-control" class="inputFormu"  placeholder="Password" pattern="(?=.*\d)(?=.*[a-záéíóúüñ]).*[A-ZÁÉÍÓÚÜÑ].*" title="Debe tener al menos una mayúscula, una minúscula y un dígito">
                </div>

            {{!-- ingresar- Comenzar --}}
                <div class="form-group row justify-content-center">
                    <input type="submit"  name="btn" value="Comenzar" class="btn btn-success" class="inputFormu" id="boton" disabled>
                    {{!-- <button type="submit" class="btn btn-success" onclick="go()">Comenzar</button> --}}
                </div>

            {{!-- fin del form --}}
            </form>
        </div>
    </div>
</div>

</body>
</html>


<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
<script src="JS/validacionLog.js" ></script>
<script src="JS/buttonLogin.js"></script>


