    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="estilo.css">

<style>
    input[type=text] {
    width: 40ch;
    }
    input:invalid {
    border: 2px solid red;
    }
</style>


<!------ inicio de login echo con bootstrap y css ---------->
<br></br><br><br></br><br></br>
<body background="https://covamsa.com/inicio/wp-content/uploads/2019/07/slider_fondo_02_covamsa.jpg">
<div class="container-lg">
    <div class="card card-login mx-auto text-center bg-light" style="width: 50rem;">
        <div class="card-header mx-auto bg-light">
            <span> 
                <img class="" src="https://covamsa.com/inicio/wp-content/uploads/2019/06/covamsa_tiendas.png" width="120px">
            </span>
        </div>
        <div class="card-body">
            <form action="" method="post">
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input type="text" name="email" class="form-control" pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}" placeholder="Username"  title="Utiliza una cuenta asosiada con el Usuario"> 
                </div>

                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input type="password" name="password" class="form-control"   placeholder="Password" pattern="(?=.*\d)(?=.*[a-záéíóúüñ]).*[A-ZÁÉÍÓÚÜÑ].*" title="Debe tener al menos una mayúscula, una minúscula y un dígito">
                </div>

                <div class="form-group row justify-content-center">
                    <input type="submit" onclick="mensaje1()" name="btn" value="Comenzar" class="btn btn-success">
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>

{{!-- validation con pattern --}}
{{!-- pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}" --}}

{{!-- validacion de password valores alfanumericos
pattern="(?=.*\d)(?=.*[a-záéíóúüñ]).*[A-ZÁÉÍÓÚÜÑ].*" --}}

{{!-- .{6,} elemento password con 6 o mas caracteres --}}