<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
{{!-- el contenido se muestra en español --}}
<meta http-equiv="Content-Language" content="es" />

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <meta http-equiv="Content-Language" content="es" />
    <div class="container">
        <div class="accordion" id="accordionExample">
            <div class="card">
            </div>
        </div>
    </div>
</body>

</html>
<script src="librerias/jquery.js"></script>
<script src="librerias/bootstrap.js"></script>
<script src="librerias/bootstrap.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="librerias/popper.js"></script>
<script src="https://kit.fontawesome.com/385704f43e.js" crossorigin="anonymous"></script>
<script src="JS/facturacion/fact.js"></script>

