<style>
  #canvas{
   background-image: url(https://covamsa.com/inicio/wp-content/uploads/2019/06/covamsa_los_especialistas_del_tornillo-300x149.png);
   background-repeat: no-repeat;
   background-size: 200px;
  }
</style>
    <nav class="navbar navbar-expand  navbar-light bg-dark ml-7q">
      <div id="canvas">
      <canvas id="canvas" width="200" height="50"></canvas>
      </div>
    <div class="collapse navbar-collapse" id="">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
         <a class="nav-link text-white text-uppercase ml-1" href="#"></a>
      </li>
      <div class="dropdown show">
      <a class="" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT-iCHQnkJmJb8VM_1W8Jb5QZYE0Emj0rT9_7KbVbapciCcsyPB" width="25" alt="">
      </a> 
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      {{#each user}}
      <a class="dropdown-item" href="{{this.direccion}}">{{this.modulos}}</a>
      {{/each }}
    </div>
    </div>   
    </ul>
    <a class="btn btn-link" href="/logout"><button class="btn btn-danger my-2 my-sm-0" type="submit">Cerrar Sesión</button></a>
  </div>
</nav>
<br>

